@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'), 
    local('Gilroy-Light'), 
    url('../fonts/Gilroylight.woff2') format('woff2'), 
    url('../fonts/Gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold'), 
    local('Gilroy-ExtraBold'), 
    url('../fonts/Gilroyextrabold.woff2') format('woff2'), 
    url('../fonts/Gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), 
    local('OpenSans-Light'), 
    url('../fonts/opensanslight.woff2') format('woff2'), 
    url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), 
    local('OpenSans'), 
    url('../fonts/opensans.woff2') format('woff2'), 
    url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0px auto;
  padding-top: 20px;
  color: rgb(70, 70, 70);
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logo {
  margin: 0 auto;
  width: 1040px;
  margin-bottom: -20px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.nav {
  display: block;
  margin: 0 auto;
  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;
  height: 300px;
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
  background-color: rgba(240, 197, 46, 0.5);
}

.nav li {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav input  {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

/* Навигация для пользователя */

.nav-user {
  padding-top: 44px;
}

.nav-user ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.nav-user img:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav-user img:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-user li:first-child {
  margin-right: auto;
}

.nav-user li:nth-child(2) {
  padding-right: 217px;
}

.nav-user li:nth-child(3) {
  padding-right: 42px;
}

.nav-user li:nth-child(2)::before {
  content: '';
  background: url('../img/user.svg') no-repeat left center;
  padding: 10px 0 8px 25px;
}

.nav-user li:nth-child(3)::before {
  content: '';
  background: url('../img/compare.svg') no-repeat left center;
  padding: 10px 0 10px 18px;
}

.nav-user li:last-child::before {
  content: '';
  background: url('../img/cart.svg') no-repeat left center;
  padding: 10px 0 10px 22px;
}


/* Поиск в навигации */

.nav-user li:first-child::before {
  content: '';
  background: url('../img/search.svg') no-repeat left center;
  padding: 0px 0px 8px 38px;
  margin-left: 3px;
}

.nav-user li:first-child {
  display: flex;
}

.nav-user input {
  background-color: rgba(240, 197, 46, 0.5);
  border: 0;
}

.nav-user button {
  opacity: 0;
}

/* Навигация / Сервисы */

.nav-services {
  margin-left: -1px;
  padding-top: 32px;
}

.nav-services ul {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-family: 'Gilroy', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.nav-services li:first-child {
  margin-right: auto;
}

.nav-services li:nth-child(2) {
  padding-right: 34px;
}

.nav-services li:last-child {
  margin-right: -3px;
  padding-left: 108px;
}

/* Навигация / Подкаталог */

.nav-subcatalog {
  padding-top: 30px;
}

.nav-subcatalog ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 550px;
  height: 90px;
  line-height: 2.4;
}

.nav-subcatalog li {
  width: 33%;
  height: 30px;
  padding-right: 40px;
}

/* Слайдер */

.slide {
  display: flex;
  justify-content: space-between;
  width: 990px;
  margin: 0 auto;
  margin-top: -112px;
  padding-left: 10px;
}

.slide:first-of-type::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: rgb(255, 255, 255);
  margin-top: 37px;
  margin-left: 510px;
}

.slide:first-of-type::after {
  content: '01';
  position: absolute;
  margin-left: 839px;
  margin-top: -14px;
  width: 166px;
  height: 131px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 179px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.79px;
  text-align: right;
  color: rgb(255, 255, 255);
}


.slide-text h2 {
  margin-top: 80px;
  margin-bottom: 21px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0.47px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.slider a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.slide p {
  margin-bottom: 67px;
  width: 480px;
  height: 46px;
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.15px;
  text-align: left;
  color: rgb(70, 70, 70);
}

.slide .back-yellow {
  margin-bottom: 64px;
}

.slide a:active {
  opacity: 0.3;
}

.slide-shifter {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 480px;
}

.slides-radio {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: flex-start;
  width: 80px;
}

.slides-radio li {
  list-style: none;
}

.slide-radio {
  display: none;
  position: relative;
}

.custom-radio {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  position: relative;
}

.custom-radio::before {
  content: '';
  position: absolute;
  top: 25%;
  left: 25%;
  display: block;
  width: 3px;
  height: 3px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0;
  transition: .2s;
}

.slide-radio:checked + .custom-radio::before {
  opacity: 1;
}

.feature th:first-child {
  width: 82px;
  padding-right: 72px;
}

.feature th:nth-child(2) {
  width: 63px;
  padding-right: 73px;
}

.feature td:first-child {
  padding-top: 6px;
}

.slide-text th {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.36px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.slide-text td {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: 0.13px;
  text-align: left;
  color: rgb(70, 70, 70);
}

/* Каталог товаров плитками */

.catalog {
  width: 1160px;
  margin: 0 auto;
  margin-top: 102px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  line-height: 1.33;
}

.catalog a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.image-catalog {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0px 0px 35px 0px;
}

.image-catalog li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  list-style: none;
}

.image-monopod {
  margin-top: 41px;
}

.text-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-wrap: normal;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.text-catalog li {
  width: 160px;
}

/* Услуги магазина */

.services {
  margin-top: 180px;
  margin-bottom: 95px;
  height: 288px;
  color: rgb(0, 0, 0);
  background-color: rgb(229, 229, 229);
}

.services-background {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.services h3 {
  padding-top: 8px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.02;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgb(0, 0, 0);
}

.services a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.services-menu li {
  display: block;
  margin-bottom: 57px;
  list-style: none;
}

.services-menu li:active {
  display: block;
  position: relative;
  width: 280px;
  height: 40px;
  margin: -15px -120px 40px 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  list-style: none;
}

.services-menu a:active {
  display: block;
  position: absolute;
  top: 17px;
  left: 19px;
  color: rgb(247, 225, 132);
}

.services-menu {
  box-sizing: border-box;
  margin: -100px 0 -62px -40px;
  padding: 80px 117px 0 0;
  border-right: 7px solid rgb(0, 0, 0);
}

.services-menu .back-yellow {
  width: 160px;
}

.services p {
  margin-top: -16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  letter-spacing: 0.016em;
  font-size: 15px;
  font-weight: 300;
  color: rgb(70, 70, 70);
  max-width: 426px;
}

.services-description {
  margin-top: -80px;
  padding-left: 116px;
  display: flex;
  justify-content: space-between;
}

.services-description img {
  padding-top: 66px;
  padding-left: 132px;
}

/* Нащи партнёры */

.partners {
  display: block;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 142px;
}

.partners ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
}

.partners li {
  list-style: none;
  opacity: 0.2;
}

.partners li:first-child:hover{
  background-image: url('../img/dji.png');
  opacity: 1;
}

.partners li:nth-child(2):hover{
  background-image: url('../img/sp-gadgets.png');
  opacity: 1;
}

.partners li:nth-child(3):hover{
  background-image: url('../img/gopro.png');
  opacity: 1;
}

.partners li:last-child:hover{
  background-image: url('../img/vive.png');
  opacity: 1;
}

.partners a {
  color: rgb(0, 0, 0);
}

/* О магазине */

.info-contacts {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1160px;
}

.info {
  display: block;
  position: relative;
  margin-right: 140px;
  width: 460px;
}

.info::before {
  content: '';
  display: block;
  position: absolute;
  width: 80px;
  height: 7px;
  top: -53px;
  left: 0px;
  background-color: rgb(0, 0, 0);
}

.info h2 {
  margin: 0 auto;
  margin-left: -2px;
  padding-bottom: 44px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.02;
  letter-spacing: 0.007em;
  text-align: left;
  color: rgb(0, 0, 0);
}

.info p {
  margin: 0 auto;
  padding-bottom: 30px;
  width: 480px;
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: rgb(70, 70, 70);
}

.info ul {
  margin-left: -5px;
  padding-top: 19px;
}

.info li {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  letter-spacing: 0.007em;
  color: rgb(0, 0, 0);
  list-style-type: circle;
  list-style: none
}

.info li:last-of-type {
  margin-bottom: 82px;
}

.info .back-yellow {
  margin: 0;
  margin-top: -12px;
  padding: 0;
  padding-left: 2px;
  width: 260px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.5;
  letter-spacing: 3.6px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.info a {
  color: rgb(0, 0, 0);
  width: 260px;
  text-decoration: none;
}

/* Контакты */

.contacts {
  position: relative;
}

.contacts::before {
  content: '';
  display: block;
  position: absolute;
  width: 80px;
  height: 7px;
  top: -53px;
  left: 0px;
  background-color: rgb(0, 0, 0);
}

.contacts h2 {
  margin: 0 auto;
  margin-left: -3px;
  padding-bottom: 44px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.02;
  letter-spacing: 0.015em;
  text-align: left;
  color: rgb(0, 0, 0);
}

.contacts p {
  margin: 0 auto;
  padding-bottom: 38px;
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: rgb(70, 70, 70);
}

.contacts img {
  width: 560px;
  height: 222px;
  margin-bottom: 82px;
}

.contacts .back-yellow {
  margin: 0;
  margin-top: -1px;
  padding: 0;
  padding-left: 2px;
  width: 260px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.5;
  letter-spacing: 3.6px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.contacts a {
  color: rgb(0, 0, 0);
  width: 260px;
  text-decoration: none;
}

/* Footer */

.footer {
  background-color: rgb(70, 70, 70);
  margin-top: 100px;
  padding: 63px 0px 65px 0px;
}

.background-footer {
  width: 1160px;
  margin: 0 auto;
}

.menu-user img:hover {
  opacity: 0.6;
}

.menu-user img:active {
  opacity: 0.3;
}

.menu-user {
  display: flex;
  justify-content: space-between;
  height: 35px;
}

.menu-user ul {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 325px;
}

.menu-user li:first-child::before {
  content: '';
  background: url('../img/user.png') no-repeat left center;
  padding: 15px 0 14px 25px;
}

.menu-user li:nth-of-type(2)::before {
  content: '';
  background: url('../img/compare.png') no-repeat left center;
  padding: 10px 0 10px 20px;
}

.menu-user li:last-child::before {
  content: '';
  background: url('../img/cart.png') no-repeat left center;
  padding: 11px 0 10px 25px;
}

.menu-user a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.menu-user li {
  opacity: 0.7;
}

.menu-user li:hover {
  opacity: 1;
}

.menu-user li:active {
  opacity: 0.3;
}

.address-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
  height: 15px;
}

.address-nav p {
  display: flex;
  align-items: center;
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.address-nav ul {
  display: flex;
  justify-content: space-between;
  width: 427px;
  margin-left: -76px;
  margin-top: 6px;
  text-transform: uppercase;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 3.6px;
}

.address-nav li:hover {
  opacity: 0.6;
}

.address-nav li:active {
  opacity: 0.3;
}

.address-nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.social {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 32px;
  margin: 0;
  padding: 78px 0px 0px 0px;
  vertical-align: middle
}

.social ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: -54px;
  padding: 0;

}

.empty {
  width: 80px;
  height: 7px;
  background-color: rgb(240, 197, 46);
  border-style: none;
  margin-top: 13px;
}

.social a {
  opacity: 0.3;
}

.social a:hover {
  opacity: 1;
}

.social a:active {
  opacity: 0.1;
}

.social img {
  padding: 0px 11px 0px 11px;
}

.academy img {
  padding: 0;
  margin-top: -2px;
}

.academy a {
  opacity: 1;
}

.academy a:hover {
  opacity: 0.6;
}

.academy a:active {
  opacity: 0.3;
}

.user label  {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
}

.user input  {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.back-yellow {
  display: block;
  margin-top: 5px;
  width: 220px;
  height: 8px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 6px;
  letter-spacing: 3.6px;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(240, 197, 46);
  text-transform: uppercase;
  border-style: none;
}

/* Раздел с товаром | catalog */

.catalogs-name {
  display: block;
  width: 1160px;
  margin: 0 auto;
}

.catalogs-name h1 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  color: rgb(0, 0, 0);
}

.nav-way ul {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0;
}

.nav-way li {
  list-style: none;
  padding-right: 20px;
}

.nav-way li::after {
  content: '';
  background: url('../img/nav-arrow.svg') no-repeat right center;
  padding: 10px 20px 10px 0;
}

.nav-way li:last-child::after {
  content: '';
  background: none;
}

.nav-way a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.sort-background {
  height: 70px;
  background-color: rgb(229, 229, 229);
}

.catalog-monopods {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: -60px;
  width: 1160px;
}

/* Фильтр | catalog */

.catalog-filter {
  padding: 0 60px;
  background-color: rgb(235, 235, 235);
}

.filter-form {
  display: block;
  width: 200px;
}

.name-filter {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.2px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.cost {
  display: block;
  margin-top: 75px;
  height: 138px;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.cost label {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
  color: rgb(0, 0, 0);
}

.cost input {
  margin-top: 30px;
}

/* Фильтр цвета */

.color {
  display: block;
  height: 283px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.color h3 {
  padding-bottom: 15px;
  width: 41px;
  height: 15px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.color ul {
  color: rgb(0, 0, 0);
  padding: 0;
}

.color li {
  list-style: none;
}

.text-checkbox {
  display: inline-flex;
  padding-top: 4px;
  padding-left: 15px;
  position: absolute;
}

.checkbox {
  display: none;
  position: relative;
}

.custom-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15%;
  position: relative;
}

.custom-checkbox::before {
  content: '';
  position: absolute;
  top: -10%;
  left: -10%;
  display: block;
  width: 27px;
  height: 23px;
  background-image: url('../img/checkbox-on.svg');
  opacity: 0;
  transition: .2s;
}

.checkbox:checked + .custom-checkbox::before {
  opacity: 1;
}

.custom-checkbox:hover {
  opacity: 0.6;
}

.custom-checkbox:active {
  opacity: 1;
}

.bluetooth h3 {
  height: 13px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.bluetooth ul {
  margin: 0;
  padding: 0;
  padding-top: 30px;
}

.bluetooth li {
  list-style: none;
  padding-bottom: 16px;
}

.bluetooth-radio {
  display: none;
  position: relative;
}

.custom-bluetooth {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 50%;
  position: relative;
}

.custom-bluetooth::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 20%;
  display: block;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0;
  transition: .2s;
}

.bluetooth-radio:checked + .custom-bluetooth::before {
  opacity: 1;
}

.filter-show {
  margin-top: 55px;
}

.catalog-right {
  flex: 0 0 840px;
padding-left: 30px;
}

/* Сортирока товара | catalog */

.sort-background {
  background-color: rgb(235, 235, 235);
  margin: 0 auto;
}

.sort {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin: 0 auto;
}

.sort h3 {
  text-transform: uppercase;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3.2px
}

.sort ul {
  display: flex;
  justify-content: space-between;
}

.sort li:not(:first-child) {
  margin-left: 30px;
}

.sort li:last-child {
  margin-left: 20px;
}

.sort li {
  list-style: none;
}

.sort a {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sort a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort a:active {
  color: rgba(0, 0, 0);
}

.sort-updown img {
  opacity: 0.2;
}

.sort-updown img:hover {
  opacity: 0.4;
}

.sort-updown img:active {
  opacity: 1;
}

.sort a:active {
  color: rgb(0, 0, 0);
}

/* Товар плитками | catalog */

.goods {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 760px;
  padding: 0;
  margin: 70px auto 40px auto;
}

.catalog-item {
  display: block;
  width: 360px;
  margin-bottom: 50px;
}

.catalog-image {
  margin-bottom: 28px;
}

.description-good a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.description-good h2 {
  width: 265px;
  height: 16px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.description-good span {
  width: 78px;
  height: 14px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.16px;
  text-align: right;
  color: rgb(70, 70, 70);
}

.description-good {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Перелистывание страниц с товарами | catalog */

.nav-bottom {
  background-color: rgb(235, 235, 235);
  margin: 0 auto;
  max-width: 700px;
  max-height: 70px;
  padding: 30px;
}

.nav-bottom-content {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-bottom-content li:first-child {
  margin-right: 200px;
}

.nav-bottom-content li:last-child {
  margin-left: 200px;
}

.nav-bottom-content a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 3.2px;
}