@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'), 
    local('Gilroy-Light'), 
    url('../fonts/Gilroylight.woff2') format('woff2'), 
    url('../fonts/Gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold'), 
    local('Gilroy-ExtraBold'), 
    url('../fonts/Gilroyextrabold.woff2') format('woff2'), 
    url('../fonts/Gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), 
    local('OpenSans-Light'), 
    url('../fonts/opensanslight.woff2') format('woff2'), 
    url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), 
    local('OpenSans'), 
    url('../fonts/opensans.woff2') format('woff2'), 
    url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0px auto;
  padding-top: 20px;
  color: rgb(70, 70, 70);
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logo {
  margin: 0 auto;
  width: 1040px;
  margin-bottom: -20px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.nav {
  display: block;
  margin: 0 auto;
  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;
  height: 300px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  background-color: rgba(240, 197, 46, 0.5);
}

.nav li {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav input  {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

/* Навигация для пользователя */

.nav-user {
  padding-top: 50px;
}

.nav-user ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.nav-user img:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav-user img:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-user li:first-child {
  margin-right: 220px;
}

.nav-user li:nth-child(2) {
  padding-right: 200px;
}

/* Поиск в навигации */

.nav-user li:first-child::before {
  content: '';
  background: url('../img/search.svg') no-repeat left center;
  padding: 10px 0 10px 20px;
}

.nav-user li:first-child {
  display: flex;
}

.nav-user input {
  background-color: rgba(240, 197, 46, 0.5);
  border: 0;
}

.nav-user button {
  opacity: 0;
}

/* Навигация / Сервисы */

.nav-services {
  padding-top: 50px;
}

.nav-services ul {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-family: 'Gilroy', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.nav-services li:first-child {
  margin-right: 230px;
}

.nav-services li:nth-child(3) {
  padding-right: 90px;
}

/* Навигация / Подкаталог */

.nav-subcatalog {
  padding-top: 30px;
}

.nav-subcatalog ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 550px;
  height: 90px;
  line-height: 2.4;
}

.nav-subcatalog li {
  width: 33%;
  height: 30px;
  padding-right: 40px;
}

/* Слайдер */

.slider__item {
  display: flex;
  justify-content: space-around;
  width: 1010px;
  margin: 0 auto;
  margin-top: -105px;
}

.slider__item:first-of-type::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-left: 45px;
}

.slider__item:first-of-type::after {
  content: '01';
  font-family: 'Gilroy', Arial, sans-serif;
  position: absolute;
  margin-left: 440px;
  margin-top: -30px;
  font-size: 170px;
  font-weight: 800;
  letter-spacing: -15px;
  color: rgb(255, 255, 255);
}

.slide-image img:first-of-type {
  padding-right: 100px;
}

.slide-text h2 {
  margin-top: 75px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  display: inline-block;
  width: 520px;
  line-height: 1.4;
}

.slider a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.slider__item p {
  margin-bottom: 64px;
  width: 480px;
  height: 46px;
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.15px;
  text-align: left;
  color: rgb(70, 70, 70);
}

.slider__item .back-yellow {
  margin-bottom: 65px;
}

.slider__item a:active {
  opacity: 0.3;
}

.slide-shifter {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 480px;
}

.slides-radio {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: flex-start;
  width: 80px;
}

.slides-radio li {
  list-style: none;
}

.slide-radio {
  display: none;
  position: relative;
}

/* .custom-radio {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  position: relative;
}

.custom-radio::before {
  content: '';
  position: absolute;
  top: 25%;
  left: 25%;
  display: block;
  width: 3px;
  height: 3px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0;
  transition: .2s;
}

.slide-radio:checked + .custom-radio::before {
  opacity: 1;
} */

.slide-text th {
  height: 26px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.36px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.slide-text td {
  height: 11px;
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: 0.13px;
  text-align: left;
  color: rgb(70, 70, 70);
}

.feature {
  width: 425px;
}

/* Слайдер анимация */

.wrapper {
	height: 100%;
	display: flex;
	justify-content:center;
  align-items: center;
}

/* Слайдер */

.slick-slider {
	min-width: 0;
}

/* Ограничивающая оболочка */

.slick-list {
	overflow: hidden;
}

/* Лента слайдов */

.slick-track {
	display: flex;
	align-items: flex-start;
}

.slider {
	position: relative;
	padding: 0px 60px;
}

.slider .slick-arrow {
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}

.slider .slick-dots {
	display: flex;
	align-items: center;
  justify-content: center;
}

.slider .slick-dots {
  margin: 0 auto;
  padding: 0;
}

.slider .slick-dots li {
  display: block;
	list-style: none;
	margin: 0px 10px;
}

.slider .slick-dots button {
  display: inline-block;
  bottom: 161px;
  left: 425px;
  width: 8px;
  height: 13px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: relative;
  font-size: 0;
}

.slider .slick-dots li.slick-active button {
  font-size: 0;
  width: 10px;
  height: 13px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}

.slider__item {
  align-items: center;
	padding: 0px 15px;
}

.slider__item img{
	max-width: 100%;
}

/* Каталог товаров плитками */

.catalog {
  width: 1160px;
  margin: 0 auto;
  margin-top: 106px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  line-height: 1.33;
}

.catalog a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.image-catalog {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0px 0px 40px 0px;
}

.image-catalog li {
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  list-style: none;
}

.image-catalog img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 41px;
}

.text-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-wrap: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-catalog li {
  width: 160px;
}

/* Услуги магазина */

.services {
  margin-top: 180px;
  height: 320px;
  color: rgb(0, 0, 0);
  background-color: rgb(229, 229, 229);
}

.services-background {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.services h3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  color: rgb(0, 0, 0);
}

.services a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.services-menu li {
  display: block;
  margin-bottom: 57px;
  list-style: none;
}

.services-menu {
  box-sizing: border-box;
  height: 319px;
  margin-left: -40px;
  padding-top: 80px;
  margin-top: -100px;
  border-right: 7px solid rgb(0, 0, 0);
  padding-right: 117px;
}

.services p {
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  letter-spacing: 0.15px;
  font-size: 15px;
  font-weight: 300;
  color: rgb(70, 70, 70);
  max-width: 426px;
}

.services-description {
  margin-top: -80px;
  padding-left: 116px;
  display: flex;
  justify-content: space-between;
}

.services-description img {
  padding-top: 63px;
  padding-left: 132px;
}

/* Нащи партнёры */

.partners {
  width: 1160px;
  margin: 0 auto;
  margin-top: 94px;
  margin-bottom: 152px;
}

.partners ul {
  display: flex;
  justify-content: space-between;
}

.partners li {
  list-style: none;
  opacity: 0.2;
}

.partners li:first-child:hover{
  background-image: url('../img/dji.png');
  opacity: 1;
}

.partners li:nth-child(2):hover{
  background-image: url('../img/sp-gadgets.png');
  opacity: 1;
}

.partners li:nth-child(3):hover{
  background-image: url('../img/gopro.png');
  opacity: 1;
}

.partners li:last-child:hover{
  background-image: url('../img/vive.png');
  opacity: 1;
}

.partners a {
  color: rgb(0, 0, 0);
}

/* О магазине */

.info-contacts {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1160px;
}

.info {
  display: block;
  margin-right: 140px;
  width: 460px;
}

.info h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  margin: 0 auto;
  padding-bottom: 59px;
}

.info p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: rgb(70, 70, 70);
  width: 462px;
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 34px;
}

.info ul {
  padding-top: 15px;
}

.info li {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  color: rgb(0, 0, 0);
  list-style-type: circle;
  list-style: none
}

.info li:last-of-type {
  margin-bottom: 82px;
}

.info .back-yellow {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  width: 260px;
  padding: 0 0;
  line-height: 8px;
}

.info a {
  color: rgb(0, 0, 0);
  width: 260px;
  text-decoration: none;
}

/* Контакты */

.contacts h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  padding: 0 0 60px 0;
  color: rgb(0, 0, 0);
  margin: 0 auto;
}

.contacts p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: rgb(70, 70, 70);
  width: 511px;
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 44px;
}

.contacts img {
  width: 560px;
  height: 222px;
  margin-bottom: 82px;
}

.contacts .back-yellow {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  width: 260px;
  margin: 0;
  padding: 0;
  line-height: 8px;
}

.contacts a {
  color: rgb(0, 0, 0);
  width: 260px;
  text-decoration: none;
}

/* Footer */

.footer {
  background-color: rgb(70, 70, 70);
  margin: 100px 0px 0px 0px;
  padding: 62px 0px 65px 0px;
}

.background-footer {
  width: 1160px;
  margin: 0 auto;
}

.menu-user img {
  display: inline-block;
}

.menu-user img:hover {
  opacity: 0.6;
}

.menu-user img:active {
  opacity: 0.3;
}

.menu-user {
  display: flex;
  justify-content: space-between;
  height: 35px;

}

.menu-user li:first-child::before {
  content: '';
  background: url('../img/user.png') no-repeat left center;
  padding: 10px 0 10px 20px;
}

.menu-user li:nth-of-type(2)::before {
  content: '';
  background: url('../img/compare.png') no-repeat left center;
  padding: 10px 0 10px 20px;
}

.menu-user li:last-child::before {
  content: '';
  background: url('../img/cart.png') no-repeat left center;
  padding: 10px 0 10px 20px;
}

.menu-user ul {
  display: flex;
  justify-content: space-between;
  width: 312px;
  height: 50%;
  margin: 10px 0px 0px 0px;
}

.menu-user a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.menu-user li {
  opacity: 0.7;
}

.menu-user li:hover {
  opacity: 1;
}

.menu-user li:active {
  opacity: 0.3;
}

.address-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  height: 15px;
}

.address-nav p {
  display: inline-block;
  margin: 0;
  height: 50%;
  color: rgb(255, 255, 255);
}

.address-nav ul {
  display: flex;
  justify-content: space-between;
  width: 500px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin: -4px 0px 0px 0px;
  padding: 0;
}

.address-nav li:hover {
  opacity: 0.6;
}

.address-nav li:active {
  opacity: 0.3;
}

.address-nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.social {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 32px;
  margin: 0;
  padding: 70px 0px 0px 0px;
  vertical-align: middle
}

.social ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.empty {
  width: 80px;
  height: 7px;
  background-color: rgb(240, 197, 46);
  border-style: none;
  margin-top: 13px;
}

.social a {
  opacity: 0.3;
}

.social a:hover {
  opacity: 1;
}

.social a:active {
  opacity: 0.1;
}

.social img {
  padding: 0px 11px 0px 11px;
}

.academy img {
  padding: 0;
  margin-top: -2px;
}

.academy a {
  opacity: 1;
}

.academy a:hover {
  opacity: 0.6;
}

.academy a:active {
  opacity: 0.3;
}

.user label  {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
}

.user input  {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.back-yellow {
  display: block;
  margin-top: 5px;
  width: 220px;
  height: 8px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 6px;
  letter-spacing: 3.6px;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(240, 197, 46);
  text-transform: uppercase;
  border-style: none;
}

/* Раздел с товаром | catalog */

.catalogs-name {
  display: block;
  width: 1160px;
  margin: 0 auto;
}

.catalogs-name h1 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  color: rgb(0, 0, 0);
}

.nav-way ul {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0;
}

.nav-way li {
  list-style: none;
  padding-right: 20px;
}

.nav-way li::after {
  content: '';
  background: url('../img/nav-arrow.svg') no-repeat right center;
  padding: 10px 20px 10px 0;
}

.nav-way li:last-child::after {
  content: '';
  background: none;
}

.nav-way a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.sort-background {
  height: 70px;
  background-color: rgb(229, 229, 229);
}

.catalog-monopods {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: -60px;
  width: 1160px;
}

/* Фильтр | catalog */

.catalog-filter {
  padding: 0 60px;
  background-color: rgb(235, 235, 235);
}

.filter-form {
  display: block;
  width: 200px;
}

.name-filter {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.2px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.cost {
  display: block;
  margin-top: 75px;
  height: 138px;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.cost label {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
  color: rgb(0, 0, 0);
}

.cost input {
  margin-top: 30px;
}

/* Фильтр цвета */

.color {
  display: block;
  height: 283px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.color h3 {
  padding-bottom: 15px;
  width: 41px;
  height: 15px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.color ul {
  color: rgb(0, 0, 0);
  padding: 0;
}

.color li {
  list-style: none;
}

.text-checkbox {
  display: inline-flex;
  padding-top: 4px;
  padding-left: 15px;
  position: absolute;
}

.checkbox {
  display: none;
  position: relative;
}

.custom-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15%;
  position: relative;
}

.custom-checkbox::before {
  content: '';
  position: absolute;
  top: -10%;
  left: -10%;
  display: block;
  width: 27px;
  height: 23px;
  background-image: url('../img/checkbox-on.svg');
  opacity: 0;
  transition: .2s;
}

.checkbox:checked + .custom-checkbox::before {
  opacity: 1;
}

.custom-checkbox:hover {
  opacity: 0.6;
}

.custom-checkbox:active {
  opacity: 1;
}

.bluetooth h3 {
  height: 13px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.bluetooth ul {
  margin: 0;
  padding: 0;
  padding-top: 30px;
}

.bluetooth li {
  list-style: none;
  padding-bottom: 16px;
}

.bluetooth-radio {
  display: none;
  position: relative;
}

.custom-bluetooth {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 50%;
  position: relative;
}

.custom-bluetooth::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 20%;
  display: block;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0;
  transition: .2s;
}

.bluetooth-radio:checked + .custom-bluetooth::before {
  opacity: 1;
}

.filter-show {
  margin-top: 55px;
}

.catalog-right {
  flex: 0 0 840px;
padding-left: 30px;
}

/* Сортирока товара | catalog */

.sort-background {
  background-color: rgb(235, 235, 235);
  margin: 0 auto;
}

.sort {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin: 0 auto;
}

.sort h3 {
  text-transform: uppercase;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3.2px
}

.sort ul {
  display: flex;
  justify-content: space-between;
}

.sort li:not(:first-child) {
  margin-left: 30px;
}

.sort li:last-child {
  margin-left: 20px;
}

.sort li {
  list-style: none;
}

.sort a {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sort a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort a:active {
  color: rgba(0, 0, 0);
}

.sort-updown img {
  opacity: 0.2;
}

.sort-updown img:hover {
  opacity: 0.4;
}

.sort-updown img:active {
  opacity: 1;
}

.sort a:active {
  color: rgb(0, 0, 0);
}

/* Товар плитками | catalog */

.goods {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 760px;
  padding: 0;
  margin: 70px auto 40px auto;
}

.catalog-item {
  display: block;
  width: 360px;
  margin-bottom: 50px;
}

.catalog-image {
  margin-bottom: 28px;
}

.description-good a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.description-good h2 {
  width: 265px;
  height: 16px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.description-good span {
  width: 78px;
  height: 14px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.16px;
  text-align: right;
  color: rgb(70, 70, 70);
}

.description-good {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Перелистывание страниц с товарами | catalog */

.nav-bottom {
  background-color: rgb(235, 235, 235);
  margin: 0 auto;
  max-width: 700px;
  max-height: 70px;
  padding: 30px;
}

.nav-bottom-content {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-bottom-content li:first-child {
  margin-right: 200px;
}

.nav-bottom-content li:last-child {
  margin-left: 200px;
}

.nav-bottom-content a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 3.2px;
}